@import "errors.css";
@import "footer.css";
@import "forms.css";
@import "header.css";
@import "images.css";
@import "typography.css";

/* body {
	position:			relative;
	display:			grid;
	grid-template-rows:	auto 1fr;
	min-height:			100vh;
} */

header {
	position:			relative;
	background-color: 	indigo;
	color:				white;
	z-index:			2;
}

div.body-container {
	position:			absolute;
	min-height:			100vh;
	width:				100%;
	top:				0;
	background-color:	blue;
	z-index:			1;
}

div.container-one, div.container-two {
	padding:	50px 0;
}

div.container-about {
	padding:	100px 0;
}

div.offwhite-bg {
	background-color: #FAFAFA;
}

img.languages {
	width: 100%;
}

.mobile-hidden {
	display: none;
}

body.landing-page .image-container-one {
	position: relative;
	color: #FFF;
	background: #EEE url("../../img/landing/background.jpg") no-repeat fixed center/cover;
}

body.landing-page .image-container-two {
	background-color: #FFF;
}

body.landing-page .image-container-three {
	position: relative;
	color: #FFF;
	background: #EEE url("../../img/landing/background2.jpg") no-repeat fixed center/cover;
}

@media (min-width: 992px) {
	.spacer {
		display: none;
	}

	.mobile-hidden {
		display: block;
	}

	div.image-layer {
		position: 				absolute;
		height: 				100%;
		width: 					100%;
		background-color: 		black;
		background-size: 		cover;
		background-position: 	center;
		opacity: 				0.8;
	}

	div.article-container {
		min-height: 80vh;
		position: relative;
	}

	body.landing-page .container article {
		margin: 0;
		position: absolute;               /* 2 */
		top: 50%;                         /* 3 */
		transform: translate(0, -50%);
	}
}