form {
    padding: 50px;
    border-radius: 0.375rem;
    box-shadow:  4px 4px 20px #EEE;
    background-color: #FFF;
    /* color: #444; */
}

.form-field, .form-buttons {
    margin: 20px 0;
}

@media (min-width: 992px) {

    .form-field {
        margin: 20px 15%;
    }

    .form-buttons {
        margin: 25px 15%;
    }
}