
/* a.nav-link:hover:not(.active) {
    font-size: 1.1rem;
    transition: .1s;
} */

div.menu-button {
    position:   absolute;
    top:        50%;
    transform:  translate(0, -50%);
}

div.menu-button button {
    color: #FFF;
}

.dropdown-menu {
    background: indigo !important;
}